@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  box-sizing: border-box;
}

body {
  background-color: #fff;
}

:is(.dark body) {
  background-color: #121113;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1 {
  color: #000;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 500;
}

:is(.dark h1) {
  color: #fff;
}

h2 {
  color: #000;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 500;
}

:is(.dark h2) {
  color: #fff;
}

p {
  color: #66646E;
  line-height: 1.5rem;
}

:is(.dark p) {
  color: #B5B2BC;
}


li {
  color: #66646E;
}

:is(.dark li) {
  color: #B5B2BC;
}

/* 
p a {
  color: #000;
}

:is(.dark p a) {
  color: #fff;
} */



.container {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  max-width: 610px;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  margin: 0 auto;
  padding: 80px 16px 90px;
  /* padding-top: 80px;
  padding-bottom: 90px;
  padding-left: 16px!important;
  padding-right: 16px!important; */
}

.fixed {
  position: fixed;
  bottom: 20px;
  justify-content: center;
  display: flex;
  /* width: 100%;
  max-width: 610px; */
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin-left: auto;
  margin-right: auto;
  z-index: 20;
  left: 0;
  right: 0;
}

nav {
  display: flex;
  align-items: center;
  background-color: #F3EFF3;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #E3DFE5;
  display: relative;
}

:is(.dark nav) {
  background-color: #232225;
  border: 1px solid #323035;
}


nav li {
  list-style: none;
  display: inline-block;
  color: #000;
  border-radius: 7px;
}

nav li a {
  list-style: none;
  display: inline-block;
  padding: 5px 10px;
  color: #000;
  border-radius: 7px;
}

:is(.dark nav li a) {
  color: #fff;
}

nav li .active {
  background-color: #E3DFE5;
}

:is(.dark nav li .active) {
  background-color: #323035;
}

.line {
  width: 1px;
  height: 25px;
  background-color: #E3DFE5;
  margin: 0px 10px;
}

:is(.dark .line) {
  background-color: #323035;
}

.night {
  width: 17px;
  height: 17px;
  background-color: #000;
  margin: 0px 10px;
  border-radius: 2px;
}

.day {
  width: 17px;
  height: 17px;
  background-color: #EEEEF0;
  margin: 0px 10px;
  border-radius: 2px;
}

/* .dropdown {
  position: absolute;
  bottom: 70px;
  left: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #232225;
  border: 1px solid #323035;
  border-radius: 10px;
  width: 175px;
} */

/* -------------NAV------------------*/

.intro {
  display: flex;
  align-items: center;
}

.me {
  margin-left: 1rem;
}

.paragraph {
  font-weight: 400;
  line-height: 1.5rem;
  letter-spacing: -.1px;
}

.paragraph a {
  /* color: #fff; */
}

.paragraph a:hover {
  text-decoration: underline;
}

button{
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 6px;
  padding: 5px 20px;
  cursor: pointer;
  font-size: 0.8rem;
  font-weight: 500;
}

/* :is(.dark button) {
  background-color: #fff;
  color: #000;
} */


/* ----------------- */


@keyframes slideFromDownAndFade {
  0% {
    opacity: 0;
    transform: translateY(12px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-slideFromDownAndFade {
  animation: slideFromDownAndFade .6s ease-in-out both;
}


.home {
  --animation-delay: 90ms;
}

.\[animation-delay\:calc\(var\(--animation-delay\)\*2\)\] {
  animation-delay: calc(var(--animation-delay) * 2)
}

.\[animation-delay\:calc\(var\(--animation-delay\)\*3\)\] {
  animation-delay: calc(var(--animation-delay) * 3)
}

.\[animation-delay\:calc\(var\(--animation-delay\)\*4\)\] {
  animation-delay: calc(var(--animation-delay) * 4)
}

.\[animation-delay\:calc\(var\(--animation-delay\)\*5\)\] {
  animation-delay: calc(var(--animation-delay) * 5)
}

.\[animation-delay\:var\(--animation-delay\)\] {
  animation-delay: var(--animation-delay)
}

/* ----------------- */

button {
  --transition: 0.25s;
  --spark: 3s;
  --bg: #121113;
  background: var(--bg);
  padding: 6px 18px;
  display: grid;
  border-radius: 9999px;
  position: relative;
  overflow: hidden;
  box-shadow: 0 1000px 0 0 hsl(0 0% 20%) inset;
  transition: box-shadow var(--transition), background var(--transition),
    transform var(--transition);
}

button:hover .backdrop {
  background: rgb(20 20 20);
}

/* button:hover {
  transform: scale(1.05);
} */

.spark {
  position: absolute;
  inset: 0;
  border-radius: 9999px;
  rotate: 0deg;
  overflow: hidden;
  mask: linear-gradient(white, transparent 50%);
  animation: flip calc(var(--spark) * 2) infinite steps(2, end);
}

@keyframes flip {
  to {
    rotate: 360deg;
  }
}

.spark:before {
  content: "";
  position: absolute;
  width: 200%;
  aspect-ratio: 1;
  inset: 0 auto auto 50%;
  z-index: -1;
  translate: -50% -15%;
  rotate: 0;
  transform: rotate(-90deg);
  opacity: 1;
  background: conic-gradient(from 0deg, transparent 0 340deg, white 360deg);
  transition: opacity var(--transition);
  animation: rotate var(--spark) linear infinite both;
}

.backdrop {
  position: absolute;
  inset: 1px;
  background: var(--bg);
  border-radius: 9999px;
  transition: background var(--transition) opacity var(--transition);
}

@keyframes rotate {
  to {
    transform: rotate(90deg);
  }
}

.text {
  z-index: 1;
  color: rgb(203 213 225);
}


/* ---------------- MEDIA QUERIES --------------------- */

@media screen and (max-width: 769px) {
  .container {
    padding-top: 40px;
  }

  .container.home {
    padding-top: 80px;
  }
}
