@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  box-sizing: border-box;
}

body {
  background-color: #fff;
}

:is(.dark body) {
  background-color: #121113;
}

h1 {
  color: #000;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 500;
}

:is(.dark h1) {
  color: #fff;
}

h2 {
  color: #000;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 500;
}

:is(.dark h2) {
  color: #fff;
}

p {
  color: #66646E;
  line-height: 1.5rem;
}

:is(.dark p) {
  color: #B5B2BC;
}


li {
  color: #66646E;
}

:is(.dark li) {
  color: #B5B2BC;
}



.container {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  width: 610px;
  min-height: 100vh;
  height: 100%;
  margin: 0 auto;
  padding: 80px 16px 90px;
}

.fixed {
  position: fixed;
  bottom: 20px;
  justify-content: center;
  display: flex;
  width: inherit;
}

nav {
  display: flex;
  align-items: center;
  background-color: #F3EFF3;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #E3DFE5;
}

:is(.dark nav) {
  background-color: #232225;
  border: 1px solid #323035;
}


nav li {
  list-style: none;
  display: inline-block;
  color: #000;
  border-radius: 7px;
}

nav li a {
  list-style: none;
  display: inline-block;
  padding: 5px 10px;
  color: #000;
  border-radius: 7px;
}

:is(.dark nav li a) {
  color: #fff;
}

nav li .active {
  background-color: #E3DFE5;
}

:is(.dark nav li .active) {
  background-color: #323035;
}

.line {
  width: 1px;
  height: 25px;
  background-color: #E3DFE5;
  margin: 0px 10px;
}

:is(.dark .line) {
  background-color: #323035;
}

.night {
  width: 17px;
  height: 17px;
  background-color: #000;
  margin: 0px 10px;
  border-radius: 2px;
}

.day {
  width: 17px;
  height: 17px;
  background-color: #EEEEF0;
  margin: 0px 10px;
  border-radius: 2px;
}

.intro {
  display: flex;
  align-items: center;
}

.me {
  margin-left: 1rem;
}

.paragraph {
  font-weight: 400;
  line-height: 1.5rem;
  letter-spacing: -.1px;
  /* --tw-text-opacity: 1;
  color: rgb(101 99 109/var(--tw-text-opacity)); */
}

.paragraph a {
  /* color: #fff; */
}

.paragraph a:hover {
  text-decoration: underline;
}